{% extends 'base.html' %}
{% load static %}
{% block content %}

    <br>
    <br>
    <br>
    <div class="container" align="center">

        <div class="row">
            <form method="post" action="{% url 'edit employer' pk=edit_employer.pk %}"
                  style="{% static 'style.css' %}">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Запази информацията</button>

            </form>
        </div>
    </div>
{% endblock %}