{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}

    <br>
    <br>
    <br>
    <div class="container" align="center">

        <div>
            <form method="post" action="{% url 'edit offer' pk=edit_offer.pk %}" style="{% static 'style.css' %}">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-primary btn-lg">Запази обявата</button>

            </form>
        </div>
    </div>


    <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>

{% endblock %}
