{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br><br><br><br><br><br><br>
    <br>
    <div>
        <div><h2 style="text-align:center">Добре дошъл отново!</h2></div>
        <div align="center"><a href="{% url 'sign in' %}">
            <button class="btn btn-primary btn-lg">Вход</button>
        </a></div>
    </div>
    <BR>
    <div>
        <div><h2 style="text-align:center">Нямаш профил? Регистрирай се тук.</h2></div>
        <div align="center"><a href="{% url 'sign up' %}">
            <button class="btn btn-primary btn-lg" title="Нямаш профил? Кликни тук.">Регистрация
            </button>
        </a></div>
    </div>
    <br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>



    <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>

{% endblock %}
