{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div>
        <br><br><br>
        <h1 align="center">ДОПЪЛНИТЕЛНИ УСЛУГИ</h1>
    </div>
    {% if services_list %}

        <div class="row" align="center">

            {% for service in services_list %}

                <div align="left">
                    <h3> <a href="{% url 'details service' pk=service.pk %}">
                            <button class="btn btn-primary btn-lg">Подробности</button>
                        </a> {{ service.service_type }}

                    </h3>


                </div>
            {% endfor %}

        </div>
    {% else %}
        <br><br>
        <p align="center">В момента няма актуална информация.</p>
    {% endif %}

{% endblock %}